h1{
	text-align: center; 
	font-weight:bold; 
	font-size: 60px; 
	color: #EBD758; 
	text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68,6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
	
}

h2{
	text-align: left; 
	font-weight:bold; 
	font-size: 30px; 
}

header {
	height: 70px;
	margin-bottom: 7px;
	padding-bottom: 4px;
	padding: 20px;
	text-align: right;
	background: #414D68;
	color: rgb(255, 255, 255);
	font-size: 10px;
}










